Pruebas/pizzas.dtd

<!ELEMENT pizzas (pizza+)>
<!ELEMENT pizza (ingrediente+,bebida?)>
<!ATTLIST pizza 
    nombre CDATA #REQUIRED
    precio CDATA #IMPLIED>
<!ELEMENT ingrediente (#PCDATA)>
<!ATTLIST ingrediente nombre CDATA #REQUIRED>
<!ELEMENT bebida (refresco*|agua)>
<!ELEMENT refresco (#PCDATA)>
<!ELEMENT agua EMPTY>